**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md

**/Dockerfile

# quickfix genereted files
!bin/

# Top level files
Makefile
COPYING
INSTALL
ChangeLog
configure
config.h
config.log
config.status
aclocal.m4
stamp-h1

# Nested files
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
bin/executor
bin/ordermatch
bin/tradeclient

# directories rules
debug
release
config/
.deps
UnitTest\+\+/TestUnitTest\+\+
libtool
quickfix.pc
examples/executor/C\+\+/executor
examples/ordermatch/ordermatch
examples/ordermatch/test/ordermatch_ut
examples/tradeclient/tradeclient
UnitTest\+\+/TestUnitTest\+\+
include/
src/at
src/pt
src/ut
src/C\+\+/Allocator.h
test/at/
test/pt/
test/ut/
test/ut_debug
test/store/
autom4te.cache/
lib/python2/
lib/python3/
.vs/
core/

# generic rules
**/*.user
**/*.sdf
**/*.opensdf
**/*.suo
**/*.lib
**/*.lo
**/*.in
!**/*.pc.in
**/*.png
**/*.dot
**/*.md5
**/*.o
**/*.d
**/*.a
**/.libs
**/*.la
**/*.so
*.dylib
**/*.db
**/*.pyc
**/*.log
**/*.trs
